<h2 class="center">Area Clienti</h2>

{{#if mainDashboard}}

<h3 class="center">Benvenuto {{user.username}}</h3>

<h4 class="center">Elenco Pratiche</h4>
<br />
<br />

{{#if hasFolders}}
<table class="table table-striped">
    <tr>
        <th>Nome pratica</th>
        <th>Status</th>
        <th>Contenuto</th>
    </tr>
    {{#each folders}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.status}}</td>
        <td><a href="/folders/{{this._id}}">Più dettagli</a></td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>Non ci sono pratiche affidate allo studio.</p>
{{/if}}

{{/if}}

{{#if hasFolder}}
<h4 class="center">Dettaglio pratica</h3>

<br/>
<br/>

<p><b>Nome pratica</b>: {{folder.name}}</p>
<p><b>Stato della pratica:</b>{{folder.status}}</p>
<p><a href="/files/{{folder.path}}"><i class="fas fa-folder-open"></i>Accedi alla cartella</a></p>

<div style="padding:10px;margin:10px;">
<btn class="btn btn-primary" id="backToDashboard">Torna all'elenco Pratiche</btn>
</div>


{{/if}}

{{#if hasFiles}}
<h4 class="center">Contenuto della cartella</h3>


<ul>
  {{#each files}}
<li class="{{this.className}}">
<a href="{{this.name}}">{{this.name}}</a>
</li>
{{/each}}  
</ul>


{{/if}}

<script src="/javascripts/userDashboard/index.js"></script>